<div class="row mt-1">
    <div class="col-sm-12">
        <table class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Created On</th>
              </tr>
            </thead>
            <tbody>              
              <tr *ngFor="let repo of repos">
                <td>{{repo.name | titlecase}}</td>
                <td style="width: 50%">{{repo.description}}</td>                
                <td>{{repo.created_at | date}}</td>
              </tr>
            </tbody>
          </table>        
    </div>
</div>

