/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,300,400;1,500&family=Ubuntu:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
img{
   max-width: 100%;
   display: block;
}
/* ====
    TYPOGRAPHY
    ==== */
h1,
h2,
h3{
    margin-top: 0;
}
h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 1.125rem;
    margin: 0;
}
a {
    color:#1792d2;
}
a:hover,
a:focus{
    color: #143774;
}

